
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.site-blocks-cover h1{
    font-weight: 500;
    font-size: 80px; 
}
@media (max-width: 772px){
    .site-blocks-cover h1{
        font-weight: 400;
        font-size: 40px; 
    }
}

.about{
    margin-top: 100px;
    margin-bottom: 60px;
}
.hr-travel{
    width:25%;
    height: 0.5px;
    /* background: #273035; */
    background: linear-gradient(to right, #f8f8f800, #000000e3, #ffffff00);
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 38%;
}

.bus {
    /* Some layout code… */
    animation: xAxis 5s infinite ease-in;
  }

@keyframes xAxis {
    100% {
      animation-timing-function: ease-in;
      transform: translateX(1450px);
    }
  }

p{
    color:rgb(0, 0, 0);
    Font-size: 16px;
    transition: 0.4s;
}

