*{
	margin:0px;
	padding:0px;
}

.bgimage{
	background-image: url('images/g4.jpg');
	background-size: 100% 110%;
	width: 100%;
	height: 100vh;
}

.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
}

.leftmenu{
	width: 30%;
	line-height: 100px;
	float: left;
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 22px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.rightmenu{
	width:70%;
	height: 100px;
	float: right;
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 20px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#firstlist{
	color: orange;
}

.rightmenu ul li:hover{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.text h4{

	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}


.button input {
	background-color: white;
	border-radius: 30px;
	font-size: 20px;
    text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 50px;
	width: 120px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 50px;
	border: 15px;
}
.button input[type="login"]:hover
{
    cursor: pointer;
    background: #ffc107;
}
