*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background: none;
}
.main{
    position: absolute;
    top: 90%;
    left:40%;
    
}
input{
    border: 3px solid #1d004b;
    height: 60px;
    width: 350px;
    border-radius: 50px;
    padding:  0px 20px;

}
.bus {
    /* Some layout code… */
    animation: xAxis 5s infinite ease-in;
  }